.footer__container {
    /* float: left; */
    padding-left: 40px;
    padding-top: 40px;
    /* margin: 40px, 40px, 40px, 40px; */
    position: relative;
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 30px;
  }

  
  .footer__margin {
    margin: 1em 0;
  }