.header__container {
    padding-top: 22px;
    display: flex;
    gap: 15px;
    
}

.header__container {
    display: flex; 
    justify-content: center;
    /* max-width: 980px; */
}

.header__lang__nav {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    gap: 15px
}

/* .header__link {
    margin: 0, 15px
} */

/* .header__nav {
    display: flex;
    gap: 15px;
} */

.header__lang {
    display: flex;
    gap: 24px;
}

.menu > li {
    margin: 0;
    background-color: white;
    list-style-type: none;
  }

  .menu > li:hover {
    background-color: lightgray;
  }

  ul {
    list-style-type:  none;
  }

  .header__nav {
    font-size: 14px;
  }

  header div nav ul li {
    position: relative;
    float: left;
  }
  /* header div nav ul li Link {
    padding: 15px;
    color:bisque

  } */

  .header__nav ul li ul {
    position: absolute;
    left: 0;
    top: 30;
    /* width: 180px; */
    background: rgba(15, 22, 32, 0.9);
    display: none;
    min-width: 250px;
    /* opacity: 0.5; */
  }

  .header__link {
    padding: 15px;
    /* border-bottom: #1F2E42 solid 1px; */
    /* color:bisque */
    
  }

  /* .header__link_l2 {
    padding: 10px;
  } */

  .header__nav ul li ul li {
    padding: 10px;
  }

  .header__link:hover {
    color: red
  }

  .header__nav ul li ul li {
    width: 100%;
    border-bottom: #1F2E42 solid 1px;
  }

  .header__nav ul li:hover > ul {
    display: initial;
    /* color: red */
  }