.header__container {
    padding-top: 22px;
    display: flex;
    gap: 15px;
    
}

.header__container {
    display: flex; 
    justify-content: center;
    /* max-width: 980px; */
}

.header__lang__nav {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-end;
    gap: 15px
}

/* .header__link {
    margin: 0, 15px
} */

.header__nav {
    display: flex;
    gap: 15px;
}

.header__lang {
    display: flex;
    gap: 24px;
}

.menu > li {
    margin: 0;
    background-color: white;
    list-style-type: none;
  }

  .menu > li:hover {
    background-color: lightgray;
  }